/* Write your code here. */
.faq-bg-container {
  background-color: #f1f5f8;
  min-height: 100vh;
  width: 100vw;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.faq-card-container {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
.heading {
  padding-top: 30px;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #cb8805;
}
@media (max-width: 578px) {
  .heading {
    font-size: 35px;
  }
}
.faq-item-list {
  list-style-type: none;
}
